<mat-tab-group>
  <mat-tab label="1. NgRx Introduction">
    <ng-container [ngTemplateOutlet]="topicsTmpl"
                  [ngTemplateOutletContext]="{ value: topicsPart1, blogindex: 1  }"></ng-container>
  </mat-tab>
  <mat-tab label="2. NgRx vs NgRx Data" >
    <ng-container [ngTemplateOutlet]="topicsTmpl"
                  [ngTemplateOutletContext]="{ value: topicsPart2, blogindex: 2  }"></ng-container>
  </mat-tab>
</mat-tab-group>

<ng-template #topicsTmpl
             let-value="value"
             let-blogindex="blogindex">
  <ng-container *ngFor="let t of value; let i = index">
    <mat-card [routerLink]="[t.link]">
      <mat-card-header>
        <mat-card-title [innerHtml]="blogindex + '.' + (i + 1) + ' ' + t.title"></mat-card-title>
        <mat-card-subtitle [innerHtml]="t.subtitle"></mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </ng-container>
</ng-template>
